<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <meta name="description" content="<%= data.seo.meta.description %>" />
    <meta name="keywords" content="<%= data.seo.meta.keywords %>" />
    <meta name="author" content="<%= data.seo.meta.author %>" />

    <title><%= current_page.data.title || "clov3r | <3 your site" %></title>
    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "vendor/modernizr.custom.js" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
    <script>
      new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
    </script>
  </body>
</html>
